/*ECHO is on.*/

*{
  margin: 0;
  padding: 0;
  font-family: 'yukyokasho';
  font-weight: 100;
}
body {
  height: 100%;
  align-content: center;
  background-image: url(../images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.nav{
  margin-top: 20px;
  margin-left: 50px;
  margin-right: 50px;
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.title {
  padding: 50px;
}
#nav {
  background-color: inherit;
}

.homebutton {
  width: 50%;
  margin: 20px;
}

.enterbutton {
  margin: 20px;
}

.input-field {
  height: 100px
}
